/* Index.jsx */

.Index {
  width: 100%;
  min-height: 90vh;
  background-color: white;
}

.Index section {
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
