/* Defaults */

.defaultButton {
  padding: 10px 20px;
  background-color: red;
  color: white;
  outline: none;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  transition: box-shadow 300ms ease-in-out;
  cursor: pointer;
}

.defaultButton:hover {
  box-shadow: 2px 2px 5px rgba(255, 0, 0, 0.5);
}

/* Navbar.jsx */
/* Navbar.jsx */

nav {
  width: 100%;
  height: 15vh;
  color: var(--lightgray);
  /* background-color: aliceblue; */
}
nav .navLinks {
  width: 85%;
  height: inherit;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLink {
  position: relative;
  cursor: pointer;
}

.navLink::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  border-bottom: 2px solid gray;
  transition: 300ms ease-in-out;
}

.navLink:hover::after {
  width: 100%;
}

.burger .line1,
.burger .line2,
.burger .line3 {
  width: 22px;
  height: 3px;
  background-color: var(--lightgray);
  margin: 5px;
}

nav .Search {
  fill: var(--lightgray);
}

.mainNavLinksLeft,
.mainNavLinksRight {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.mainNavLinksLeft {
  transform: translateX(25%);
}
.mainNavLinksRight {
  transform: translateX(-25%);
}

.dummyLogo {
  width: 150px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dummyLogo img {
  width: 80%;
  opacity: 0.7;
}
/* Index.jsx */
/* Index.jsx */

.Index {
  width: calc(100% - 50px);
  min-height: 100vh;
  background-color: white;
  margin: 25px auto;
}

.Index section {
  /* display: flex; */
  /* height: 75vh; */
  width: 85%;
  /* align-items: center; */
  /* justify-content: center; */
  position: relative;
}

/* Home.jsx */
/* Home.jsx */

.Home {
  height: 75vh;
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeLeft,
.homeRight {
  height: 100%;
  width: 50%;
}

.homeLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.homeLeft h1 {
  /* font-family: inherit; */
  font-size: 3.6rem;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.playVideo {
  padding: 10px 20px;
  outline: none;
  border: none;
  background-color: white;
  border-radius: 50px;
  font-weight: bold;
  transition: box-shadow 300ms ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playVideo:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.playVideo .PlayVideo {
  margin-right: 5px;
}

.homeMiniCards {
  display: flex;
  justify-content: space-evenly;
}

.homeMiniCards > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--gray);
}

.homeMiniCards > div .Search {
  fill: var(--gray);
}

.homeMiniCards > div:nth-child(2) {
  width: 80%;
  border-right: 1px solid var(--lightgray2);
  border-left: 1px solid var(--lightgray2);
}

.homeMiniCards > div:nth-child(1),
.homeMiniCards > div:nth-child(3) {
  width: 50%;
}

.homeRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.homeRight .imgContainer {
  width: 75vh;
  height: 75vh;
  overflow: hidden;
}

.homeRight .imgContainer img {
  width: 75vh;
}

/* About.jsx */
/* About.jsx */

.About {
  height: 100vh;
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutLeft,
.aboutRight {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.aboutLeft {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.aboutHead > p {
  color: var(--orange);
}

.aboutRight > p {
  margin-top: 5%;
}

.aboutHeader {
  width: 100%;
  height: 50%;
  padding-top: 7vh;
}

.aboutHeader p {
  padding-top: 5vh;
}

.aboutHeader p:nth-child(1) {
  color: var(--orange);
}

.aboutRecipes {
  width: 100%;
  height: 50%;
}

.aboutMiniCards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aboutRecipes h2 {
  padding-bottom: 2vh;
}

.aboutMiniCards .imgContainer {
  width: 12vw;
  height: 12vw;
  background-color: var(--lightgray);
  overflow: hidden;
}

.aboutMiniCards .imgContainer img {
  width: 12vw;
}

.aboutMiniCards p {
  padding-top: 1vh;
  color: var(--orange);
}

.aboutLeft .imgContainer {
  height: 85%;
  width: 85%;
  overflow: hidden;
  background-color: var(--lightgray);
}

.aboutLeft .imgContainer img {
  width: 100%;
}

.customimg1 {
  transform: translateY(-12%);
}

.customimg2 {
  transform: translateY(-5%);
}

.customimg3 {
  transform: translateY(-20%);
}

/* SpecialDishes.jsx */
/* SpecialDishes.jsx */

.SpecialDishes {
  min-height: 100vh;
  width: 85%;
  margin: auto;
}

.specialDishesHeader {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.specialDishesHeader p {
  color: var(--orange);
}

.SpecialDishesGallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 80vh;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  height: 80vh;
}

.gallery .sd1 {
  width: 5%;
  height: 100%;
}
.gallery .sd2 {
  width: 45%;
  flex-direction: column;
  padding: 12vh 0;
  height: 100%;
}
.gallery .sd31 {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.gallery .sd32 {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.gallery .sd2 p {
  padding: 5vh 0;
  width: 70%;
}

.gallery .sd2 button {
  transform: translateY(4vh);
}

.gallery .sd3 .imgContainer {
  width: 80%;
  overflow: hidden;
  height: 80%;
}

.gallery .sd3 .imgContainer img {
  width: 100%;
}

.customimg43 {
  transform: translateY(-25%);
}

/* Menu */
/* Menu */

.Menu {
  height: 100vh;
  width: 85%;
  margin: auto;
}

.menuHeader {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menuHeader p {
  color: var(--orange);
}

.menuContents {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5vh;
}
.menuList {
  width: 32%;
  height: 60vh;
}

.menuList h1 {
  text-align: center;
  padding-bottom: 3vh;
}
.MenuElement {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--gray);
  padding: 15px 0;
  border-bottom: 1px solid var(--lightgray2);
  margin-bottom: 3vh;
}

.MenuElement .imgContainer {
  width: 5vw;
  height: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
}

.MenuElement .imgContainer img {
  width: inherit;
}

.MenuElement div:nth-child(2) {
  width: calc(100% - 6vw - 25%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.MenuElement > p {
  text-align: end;
  font-size: 1.3rem;
}
.MenuElement div:nth-child(2) p:nth-child(1) {
  font-size: 1.6rem;
}

/* Team.jsx */
/* Team.jsx */

.Team {
  height: 100vh;
  width: 85%;
  margin: auto;
}

.teamHeader {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.teamHeader p {
  color: var(--orange);
}

.teamContent {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-between;
}

.teamCard {
  overflow: hidden;
  width: 22vw;
  height: 22vw;
  position: relative;
}

.teamCard .imgContainer {
  width: 22vw;
  height: 22vw;
  background-color: var(--lightgray);
  overflow: hidden;
}

.teamCard .imgContainer img {
  width: 22vw;
}

.tCardBottom {
  width: calc(100% - 40px);
  padding: 10px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
}

/* Reservation.jsx */
/* Reservation.jsx */

.Reservation {
  min-height: 100vh;
  width: 100%;
  margin: auto;
  position: relative;
}

.reservationHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reservationHeader p {
  color: var(--orange);
}

.reservationHeader h1 {
  transform: translateY(-10px);
  padding-bottom: 20px;
}

.Reservation img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.Reservation form {
  position: absolute;
  top: 20vh;
  left: 15vh;
  z-index: 1;
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.Reservation form input,
.Reservation form textarea {
  padding: 10px;
  outline: none;
  border: 1px solid var(--lightgray2);
  margin-bottom: 20px;
  resize: none;
}

.Reservation form .formBC {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.Reservation form .formBC input {
  width: 48%;
}

/* Footer.jsx */
/* Footer.jsx */

.Footer {
  width: 100%;
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
}

.Footer > div {
  padding: 0 10vh;
}

.Footer > div:nth-child(2) {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Footer > div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Footer > div:nth-child(1) div {
  width: 50%;
}

.footerRight h1 {
  padding-bottom: 20px;
}

.timetable {
  display: flex;
}

.timetable > div {
  display: flex;
  flex-direction: column;
}

.socialIcons {
  width: 20px;
}

.socialIconsfb {
  width: 13px;
}

.footerLeft > img {
  width: 200px;
  opacity: 0.7;
  margin: 20px 0;
}

.footerLeft p {
  width: 60%;
}

.footerLeft > div {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(2vh);
  gap: 30px;
}

/* HappyCustomer.jsx */
/* HappyCustomer.jsx */

.HappyCustomer {
  min-height: 100vh;
  width: 100%;
  margin: auto;
  position: relative;
}

.hcheader {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hcheader p {
  color: var(--orange);
}

.hccontent {
  position: absolute;
  z-index: 2;
  color: white;
}

.hccontent > p {
  text-align: center;
}

.hccontent > .p1 {
  font-size: 2rem;
  font-style: italic;
  color: rgba(255, 255, 255, 0.692);
  width: 80%;
  margin: auto;
  text-align: center;
  transform: translateY(-60%);
}

.hccontent > .p2 {
  font-weight: bold;
}

.hccontent > .p3 {
  padding: 10px;
}
.hccontent > .p3 span {
  color: rgb(255, 0, 98);
  font-weight: bold;
}

.HappyCustomer .imgContainer {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  overflow: hidden;
}

.black {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.61);
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}
